
/*
 * Basic
 */

* {
	margin: 0;
	padding: 0;
}

body,
html {
	overflow: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

/*
 * Wrapper
 */

#wrapper {
	background: #1f375b;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#wrapper.pushed {
	left: 80%;
}

/*
 * Sidebar
 */

#sidebar {
	background: #1f375b;
	bottom: 0;
	box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5) inset;
	color: #fbe176;
	left: 0;
	padding: 1.5rem;
	position: absolute;
	top: 0;
	width: 0;
}

#sidebar.opened {
	max-width: 480px;
	width: calc( 80% - 3rem );
}

#sidebar p {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 1rem 0 2rem;
}

#sidebar p .stache {
	float: left;
	margin: 0 .5rem .5rem 0;
}

#sidebar p a {
	color: #ffda44;
	font-weight: 400;
}

#sidebar .copyright {
	bottom: .5em;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

/*
 * Burger
 */

.burger {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	cursor: pointer;
	height: 3rem;
	left: 1rem;
	opacity: .25;
	overflow: hidden;
	position: absolute;
	top: 1rem;
	width: 3rem;
	z-index: 10;
}

.burger .line {
	background: #fff;
	display: block;
	height: .25rem;
	margin: .5rem 0;
	position: relative;
	width: 100%;
}

.burger.active .line:nth-child(1) {
	top: .75rem;
	transform: rotate(-45deg);
}

.burger.active .line:nth-child(2) {
	left: -200%;
}

.burger.active .line:nth-child(3) {
	top: -.75rem;
	transform: rotate(45deg);
}

.burger .line,
.burger.active .line {
	transition: all .5s ease;
}

/*
 * Sections
 */

.section {
	bottom: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform: skewX(-15deg);
	width: 100%;
}

.section.left {
	background: #1f375b; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1f375b 0%, #2ea38c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1f375b 0%,#2ea38c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1f375b 0%,#2ea38c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f375b', endColorstr='#2ea38c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	left: -50%;
}

.section.right {
	background: #f97d33; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f97d33 0%, #f67c67 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f97d33 0%,#f67c67 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f97d33 0%,#f67c67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97d33', endColorstr='#f67c67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	right: -49.75%;
}

.section .logo {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 33%;
	position: absolute;
	top: 33%;
	transform: skewX(15deg);
	width: 33%;
}

.section.left .logo {
	background-image: url(../img/logo-caercam.png);
	left: 62%;
}

.section.right .logo {
	background-image: url(../img/logo-talyesin.png);
	right: 62%;
}

.section,
.section .logo,
.section:hover,
.section:hover .logo {
	transition: all .15s ease;
}

.section.push {
	/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/
	z-index: 1;
}

.section.pushed {
	/*opacity: .8;*/
}

.section.left.push {
	left: -25%;
}

.section.left.push .logo {
	left: 42%;
}

.section.right.push {
	right: -25%;
}

.section.right.push .logo {
	right: 42%;
}

.section .content {
	position: absolute;
	height: 10%;
	text-align: center;
	top: 45%;
	transform: skewX(15deg);
	width: 33%;
}

.section.left .content {
	left: -100%;
}

.section.right .content {
	right: -100%;
}

.section.left.push .content {
	bottom: 24%;
	left: 45%;
	right: auto;
	top: auto;
}

.section.right.push .content {
	bottom: 24%;
	left: auto;
	right: 38%;
	top: auto;
}

.section .content a {
	background-repeat: no-repeat;
	color: #eee;
	display: block;
	font-size: 2rem;
	opacity: .8;
	text-decoration: none;
}

.section .content .tags {
	font-size: 1em;
	font-weight: 600;
	margin-top: -1.5rem;
}

.section.left .content .tags {
	padding-right: 1em;
}

.section.right .content .tags {
	padding-left: 1em;
}

.section .content .tags span {
	color: #fff;
	font-size: .875em;
	opacity: .5;
}

.section.left .content .tags span {
	margin-left: .5em;
}

.section.right .content .tags span {
	margin-right: .5em;
}

.section.left .content a {
	/*background-image: url(../img/left-chevron.png);
	background-position: left center;
	padding: .5em .5em .5em 2em;*/
	padding: .5em 0;
}

.section.right .content a {
	/*background-image: url(../img/right-chevron.png);
	background-position: right center;
	padding: .5em 2em .5em .5em;*/
	padding: .5em 0;
}

.section .content a:hover span {
	opacity: .7;
}

/*@media screen and (max-width:1280px) {
	.section.left.push {
		left: -25%;
	}
	.section.left.push .logo {
		left: auto;
		right: 100%;
	}
	.section.left.push .content {
		left: 36%;
	}
	.section.right.push {
		right: -24.75%;
	}
	.section.right.push .logo {
		left: 100%;
		right: auto;
	}
	.section.right.push .content {
		right: 36%;
	}
}*/

@media screen and (max-width:1280px) and (orientation:portrait) {

	.section {
		height: 100%;
		transform: skewY(-15deg);
		width: 100%;
	}

	.section.left,
	.section.left.push,
	.section.left .logo,
	.section.left.push .logo,
	.section.left .content,
	.section.right,
	.section.right.push,
	.section.right .logo,
	.section.right.push .logo,
	.section.right .content {
		left: 0 !important;
		right: 0 !important;
	}

	.section.left {
		bottom: auto;
		top: -50%;
	}

	.section.right {
		bottom: -50%;
		top: auto;
	}

	.section .logo,
	.section .content {
		transform: skewY(15deg);
	}

	.section.left .logo {
		top: 66%;
		width: 100%;
	}

	.section.right .logo {
		top: 0;
		width: 100%;
	}

	.section.left .content,
	.section.right .content {
		bottom: -100%;
		display: none;
		top: auto;
		width: 100%;
	}

	.section.left .content a,
	.section.right .content a {
		text-align: center;
	}

	.section.left .content a {
		/*background-image: url(../img/up-chevron.png);
		background-position: center top;*/
		padding: 2rem 0 0;
	}

	.section.right .content a {
		/*background-image: url(../img/down-chevron.png);
		background-position: center bottom;*/
		padding: 0 0 3.5rem;
	}

	.section.left .content a,
	.section.right .content a,
	.section.left .content .tags,
	.section.right .content .tags {
		text-align: center;
	}

	.section.left .content .tags {
		margin-top: -.5rem;
	}

	.section.right .content .tags {
		margin-top: -3.75rem;
	}

	.section .content .tags span {
		font-size: 1.25em;
	}

	.section.left.push {
		top: -10%;
	}

	.section.left.push .content {
		bottom: 20%;
		display: block;
		top: auto;
		width: 100%;
	}

	.section.left.push .logo {
		top: 33%;
	}

	.section.right.push {
		bottom: -10%;
	}

	.section.right.push .content {
		bottom: 20%;
		display: block;
		top: auto;
		width: 100%;
	}

	.section.right.push .logo {
		top: 33%;
	}

	.section.left.pushed {
		top: -90%;
	}

	.section.left.pushed .content {
		
	}

	.section.left.pushed .logo {
		top: 90%;
	}

	.section.right.pushed {
		bottom: -90%;
	}

	.section.right.pushed .content {
		
	}

	.section.right.pushed .logo {
		top: -40%;
	}

}
